#robot1, #robot2 {
	border: 1px solid black;
	background-color: lightblue;
	border-radius: 20px;
	padding: 7px;
	width: 300px;
	margin-top: 80px;
	display: inline-block;
}

#robot1 {
	margin-left: 25%;
}

#robot2 {
	margin-left: 5%;
}